/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Helvetica Neue", sans-serif; */
    background-color: #e2e2e2;
    color: #222;
    /* line-height: 1.6; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes full width to center its content */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
}

h1 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -0.02em;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.01em;
    margin: 0;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
}

/* 
.header h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.02em;
  margin: 0;
  text-align: center;
}

.header h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
  margin: 0;
  text-align: center;
}
*/

.header span {
    margin-top: 0.5rem;
    color: #555;
    text-align: center;
}


footer {
    text-align: center;
    padding: 2rem;
    color: black;
    background-color: #e2e2e2;
    position: relative;
    height: 10vh;
}

footer h2 {
    font-size: smaller;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background-color: #e2e2e2;
    color: #999;
    height: 10vh;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    margin-top: 5px;
    height: 45px;
    width: auto;
}

nav ul {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.01em;

    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #999;
    font-weight: 500;
}


/* SPLIT */
.hero-split {
    display: flex;
    height: 80vh;
}

.hero-right {
    flex: 1;
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    padding-right: 5%;
    flex-direction: column;
    text-align: left;
}

/* 
.hero-right h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-right p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
} 
*/

.hero-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-image {
    max-width: 80%;
    max-height: 90%;
    /* border-radius: 15px; */
    object-fit: cover;
    position: absolute;
    height: auto;
}

.hero-image-transition {
    max-width: 80%;
    max-height: 90%;
    /* border-radius: 15px; */
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    height: auto;
}

.hero-image-transition.active {
    opacity: 1;
    z-index: 1;
}


/* BUTTON */
.buttons {
    font-family: "Outfit", sans-serif;
    display: flex;
    gap: 1rem;
    justify-content: left;
}

.btn,
.btn-outline {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    /* border-radius: 5px; */
    transition: background-color 0.1s;
}

.btn {
    background-color: #222;
    color: #efefef;
}

.btn:hover {
    background-color: #444;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #222;
    color: #222;
}

.btn-outline:hover {
    background-color: #222;
    color: #efefef;
}


@media (max-width: 768px) {
    .hero-split {
        flex-direction: column;
        height: auto;
    }

    .hero-left,
    .hero-right {
        padding: 2rem;
    }

    .hero-image {
        max-width: 80%;
        max-height: 300px;
    }

    .hero-right h1 {
        text-align: center;
    }

    .hero-right {
        align-items: center;
        text-align: center;
    }
}